@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
	@apply bg-slate-700;
}

h1,
h2,
h3,
p {
	@apply text-slate-600;
}
h1 {
	@apply mb-4 text-2xl font-bold;
}
h2 {
	@apply mb-3 text-xl font-semibold;
}
h3 {
	@apply mb-2 text-lg font-semibold;
}
button {
	@apply cursor-pointer;
}
select {
	@apply rounded-lg border border-slate-300 px-3 py-2 text-sm focus:border-sky-500 focus:ring-2 focus:ring-sky-500;
}

.muted {
	@apply text-slate-400;
}

.link {
	@apply text-sky-500 hover:text-sky-700;
}

.card {
	@apply rounded-xl bg-white px-6 py-4;
}
.btn {
	@apply rounded px-4 py-2 text-white;
}
.btn-primary {
	@apply w-full bg-sky-500 enabled:hover:bg-sky-700 disabled:cursor-not-allowed disabled:opacity-50;
}
.btn-danger {
	@apply bg-red-500 hover:bg-red-700;
}

.text-input {
	@apply w-full rounded-lg border border-slate-300 px-4 py-2 focus:border-sky-400 focus:outline-none disabled:cursor-not-allowed disabled:bg-slate-100;
}

.boilerplate {
	@apply text-slate-600;
}
.boilerplate p {
	@apply mb-6;
}
.boilerplate ul {
	@apply mb-6 space-y-1 pl-5;
}
.boilerplate ol {
	@apply mb-6 space-y-1 pl-5;
}
.boilerplate li {
	@apply list-disc;
}
.boilerplate h1 {
	@apply mb-10 text-2xl;
}
.boilerplate h2 {
	@apply mb-6 text-xl;
}
.boilerplate h3 {
	@apply mb-4 text-lg;
}
