@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
	@apply bg-slate-200;
}

h1,
h2,
h3,
p {
	@apply text-slate-600;
}
h1 {
	@apply mb-4 text-4xl font-bold;
}
h2 {
	@apply mb-3 text-2xl font-semibold;
}
h3 {
	@apply mb-2 text-xl font-semibold;
}
button {
	@apply cursor-pointer;
}
select {
	@apply rounded-3xl border-2 border-slate-300 px-6 py-3 text-sm focus:border-sky-400 focus:outline-none;
}

.standard {
	@apply text-slate-600;
}
.muted {
	@apply text-slate-400;
}

.link {
	@apply text-sky-500 hover:text-sky-700;
}

.card {
	@apply rounded-3xl bg-white px-6 py-4;
}
.btn {
	@apply cursor-pointer rounded-full px-4 py-3 text-white;
}
.btn-primary {
	@apply border-2 border-transparent bg-sky-500 hover:bg-sky-700 disabled:cursor-not-allowed disabled:opacity-50;
}
.btn-outline {
	@apply border-2 border-slate-600 text-slate-600 hover:bg-slate-200 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-transparent;
}
.btn-bg {
	@apply border-2 border-transparent text-sky-700 hover:bg-slate-200 disabled:cursor-not-allowed disabled:opacity-50 disabled:hover:bg-transparent;
}

.text-input {
	@apply w-full rounded-3xl border-2 border-slate-300 px-6 py-3 focus:border-sky-400 focus:outline-none disabled:cursor-not-allowed disabled:bg-slate-100;
}

.boilerplate {
	@apply text-slate-600;
}
.boilerplate p {
	@apply mb-6;
}
.boilerplate ul {
	@apply mb-6 space-y-1 pl-5;
}
.boilerplate ol {
	@apply mb-6 space-y-1 pl-5;
}
.boilerplate li {
	@apply list-disc;
}
.boilerplate h1 {
	@apply mb-10 text-2xl;
}
.boilerplate h2 {
	@apply mb-6 text-xl;
}
.boilerplate h3 {
	@apply mb-4 text-lg;
}
.boilerplate table {
	@apply mb-6 max-w-full;
}
.boilerplate th,
.boilerplate td {
	@apply border border-slate-300 px-4 py-2 text-left;
}
.boilerplate pre {
	@apply max-w-full overflow-x-auto;
}
.boilerplate code {
	@apply wrap-break-word;
}
.boilerplate hr {
	@apply my-6 border-t border-slate-400;
}

.text-gradient {
	@apply bg-linear-to-r from-sky-500 via-purple-500 to-pink-500 bg-clip-text text-transparent;
}
